@model BeautyTeamWeb.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@Html.Partial("../Home/_StaticSliderII")
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <form class="form-horizontal col-md-5" role="form" action="@Url.Action("ChangePassword", "Manage")" method="post" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <h4>Change Password Form</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="left_contact form-level">
            <input name="OldPassword" class="input-block" id="OldPassword" type="password" 
                   placeholder="Old Password"
                   data-val-required="The Current password field is required."
                   data-val="true">
            <span class="form-icon fa fa-history"></span>
        </div>
        <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="OldPassword"></span>

        <div class="left_contact form-level">
            <input name="NewPassword" class="input-block" id="NewPassword" type="password" data-val="true"
                   placeholder="New Password"
                   data-val-required="The New password field is required."
                   data-val-length-min="6"
                   data-val-length-max="100"
                   data-val-length="The New password must be at least 6 characters long.">
            <span class="form-icon fa fa-unlock"></span>
        </div>
        <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="NewPassword"></span>

        <div class="left_contact form-level">
            <input name="ConfirmPassword" class="input-block" id="ConfirmPassword" type="password"
                   placeholder="Confirm Password"
                   data-val="true"
                   data-val-equalto-other="*.NewPassword"
                   data-val-equalto="The new password and confirmation password do not match.">
            <span class="form-icon fa fa-lock"></span>
        </div>
        <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ConfirmPassword"></span>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-main featured" />
            </div>
        </div>
        <a href="@Url.Action("Index","Manage")">Back to Management center</a>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}