@model BeautyTeamWeb.ViewModels.HomeIndexViewModel

<section id="counter_area">
    <div class="facts">
        <div class="container">
            <div class="col-md-3 col-sm-6 columns">
                <div class="facts-wrap">
                    <div class="graph">
                        <div class="graph-left-side">
                            <div class="graph-left-container">
                                <div class="graph-left-half"> </div>
                            </div>
                        </div>
                        <div class="graph-right-side">
                            <div class="graph-right-container">
                                <div class="graph-right-half"></div>
                            </div>
                        </div>
                        <i class="fa fa-user fa-3x fw"></i>
                        <div class="facts-wrap-num">
                            <span class="counter">@Model.Users</span>
                        </div>
                    </div>
                    <h6>@Resources.lang.User</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 columns">
                <div class="facts-wrap">
                    <div class="graph">
                        <div class="graph-left-side">
                            <div class="graph-left-container">
                                <div class="graph-left-half"></div>
                            </div>
                        </div>
                        <div class="graph-right-side">
                            <div class="graph-right-container">
                                <div class="graph-right-half"></div>
                            </div>
                        </div>
                        <i class="fa fa-institution fa-3x fw"></i>
                        <div class="facts-wrap-num"><span class="counter">@Model.GroupNumbers</span></div>
                    </div>
                    <h6>@Resources.lang.Group</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 columns">
                <div class="facts-wrap">
                    <div class="graph">
                        <div class="graph-left-side">
                            <div class="graph-left-container">
                                <div class="graph-left-half"> </div>
                            </div>
                        </div>
                        <div class="graph-right-side">
                            <div class="graph-right-container">
                                <div class="graph-right-half"></div>
                            </div>
                        </div>
                        <i class="fa fa-dashboard fa-3x fw"></i>
                        <div class="facts-wrap-num"><span class="counter">@Model.Projects</span></div>
                    </div>
                    <h6>@Resources.lang.Project</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 columns">
                <div class="facts-wrap">
                    <div class="graph">
                        <div class="graph-left-side">
                            <div class="graph-left-container">
                                <div class="graph-left-half"> </div>
                            </div>
                        </div>
                        <div class="graph-right-side">
                            <div class="graph-right-container">
                                <div class="graph-right-half"></div>
                            </div>
                        </div>
                        <i class="fa fa-tasks fa-3x fw"></i>
                        <div class="facts-wrap-num"><span class="counter">@Model.Tasks</span></div>
                    </div>
                    <h6>@Resources.lang.Task</h6>
                </div>
            </div>
        </div>
    </div>
</section>