<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title"><b>@Resources.lang.DestinyTitle</b></h3>
                    <h4 class="feature_sub">
                        @Resources.lang.DestinyDes
                    </h4>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="main_feature text-center">
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-magic"></i>
                        <h5>@Resources.lang.JobT1</h5>
                            <button  class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-gears"></i>
                        <h5>@Resources.lang.JobT2</h5>
                        <button href="@Url.Action("AllJobs","Home")" class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-keyboard-o"></i>
                        <h5>@Resources.lang.JobT3</h5>
                        <button href="@Url.Action("AllJobs","Home")" class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-globe"></i>
                        <h5>@Resources.lang.JobT4</h5>
                        <button href="@Url.Action("AllJobs","Home")" class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>