<section id="home" class="hero landing hero-section">
    <div class="video-background-container">
        <video preload="auto" autoplay="autoplay" loop="loop" muted class="video-background">
            @*<source type="video/mp4" src="https://obisoft.oss-cn-beijing.aliyuncs.com/Videos/gdrive.mp4?response-content-type=video/mp4" />
            <source type="video/ogg" src="https://obisoft.oss-cn-beijing.aliyuncs.com/Videos/gdrive.ogg?response-content-type=video/ogg" />*@
            <source type="video/mp4" src="~/wwwroot/Videos/gdrive.mp4" />
            <source type="video/ogg" src="~/wwwroot/Videos/gdrive.ogg" />
        </video>
    </div>
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="hero-content text-center">
            <div class="hero-text wow fadeIn" data-wow-delay=".8s">
                <h3 class="hero-title"><span>Obisoft </span>@Resources.lang.HomeTitle</h3>
                <p class="hero-description">@Resources.lang.HomeSubTitle</p>
                @if (!User.Identity.IsAuthenticated)
                {
                    <p class="hero-buttons">
                        <strong><a href="@Url.Action("Register", "Account")" class="btn btn-dark">@Resources.lang.Register</a></strong>
                        <strong><a href="@Url.Action("Login", "Account")" class="btn btn-main featured">@Resources.lang.Login</a></strong>
                    </p>
                }
            </div>
        </div>
    </div>
</section>