@model BeautyTeamWeb.ViewModels.HomeIndexViewModel
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title">@Resources.lang.Our <b>@Resources.lang.Work</b></h3>
                    <h4 class="feature_sub">@Resources.lang.WorkSub </h4>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="isotope-filter" class="skew3 text-center">
        <a data-filter="*" href="#" class="active ">All</a>
        @foreach (var Type in Model.Types)
        {
            <a data-filter=".@Type.ProductTypeId" href="#" class="">@Type.ProductTypeName</a>
        }
    </div>
    <div class="clearfix"></div>
    <div class="text-center ">
            <ul class="portfolio-wrap" id="portfolio_items">
                @foreach (var Product in Model.Products)
                {
                    <li class="col-md-3 col-xs-12 col-sm-6 single-portfolio @Product.ProductTypeId">
                        <figure>
                            <img src="@Product.ImageUrl" alt="" class="img-responsive" />
                            <figcaption>
                                <h5>@Product.ProductName</h5>
                                <p class="links">
                                    <a href="@Url.Action(Product.ActionName,Product.ControllerName)"> <i class="fa fa-link"></i></a>
                                    <a href="@Product.ImageUrl" data-rel="prettyPhoto">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    @Product.ShortDescription
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                }
            </ul>
    </div>
</section>