
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title">@Resources.lang.Our <b>@Resources.lang.Service</b></h3>
                    <h4 class="feature_sub">@Resources.lang.SerSubTi</h4>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="main_feature text-center">
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-lightbulb-o"></i>
                        <h5>@Resources.lang.Ser1Ti</h5>
                        <p>@Resources.lang.Ser1SubTi</p>
                        <button class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-pencil"></i>
                        <h5>@Resources.lang.Ser2Ti</h5>
                        <p>@Resources.lang.Ser2SubTi</p>
                        <button class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-cog"></i>
                        <h5>@Resources.lang.Ser3Ti</h5>
                        <p>@Resources.lang.Ser3SubTi</p>
                        <button class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-desktop"></i>
                        <h5>@Resources.lang.Ser4Ti</h5>
                        <p>@Resources.lang.Ser4SubTi</p>
                        <button class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
