@model BeautyTeamWeb.ViewModels.JobOpening

@{
    ViewBag.Title = "ApplyJob";
}

@Html.Partial("../Home/_StaticSliderIV")

<div class="container">
    <h4>Apply Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Job Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobOpeningName)
        </dd>
    </dl>
    <div class="row">
        <form class="contact_full" method="post" action="@Url.Action("ApplyJob","Home")">
            <div class="col-md-6 left">
                <div class="left_contact">
                    <input type="hidden" value="@Model.JobOpeningId" name="JobId" id="JobId" />
                    <div class="form-level">
                        <input name="Name" placeholder="Your Name" id="Name" value="" type="text" class="input-block">
                        <span class="form-icon fa fa-user"></span>
                    </div>
                    <div class="form-level">
                        <input name="Email" placeholder="Your Email Address" id="Email" class="input-block" value="" type="email">
                        <span class="form-icon fa fa-envelope-o"></span>
                    </div>
                    <div class="form-level">
                        <input name="Phone" placeholder="Your Phone Number" id="Phone" class="input-block" value="" type="text">
                        <span class="form-icon fa fa-phone"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right">
                <div class="form-level">
                    <textarea name="Message" id="Message" rows="5" class="textarea-block" placeholder="Your short brief"></textarea>
                    <span class="form-icon fa fa-pencil"></span>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-main featured">Submit Now</button>
            </div>
        </form>
    </div>
    <p>
        @Html.ActionLink("Back to List", "JobDetails", "Home", new { id = Model.JobOpeningId })
    </p>
</div>
