@{
    ViewBag.Title = Resources.lang.Careers;
}

@section CareersClass{active}

@Html.Partial("_HomeSlider")
@Html.Partial("_Destiny")

<div class="clearfix"></div>
<section id="video-fact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="landing-video">
                    <img class="img-responsive" src="~/wwwroot/images/slider/s1.jpg" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-text">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <h3>@Resources.lang.WhoWeAre</h3>
                        <p>
                            @Resources.lang.CompanyBackgroundD
                        </p>
                        <p>
                            @Resources.lang.AboutUsD
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <p>@Resources.lang.NoteTo</p>
</div>