@using BeautyTeamWeb.Services

@model BeautyTeamWeb.ViewModels.LightOfTheory

@section IndexClass{active}

@{
    ViewBag.Title = "Light of the Theory";
}

@Html.Partial("../Home/_StaticSliderIV")

<div class="container">
    <h3>理论之光 Obisoft企业考察接收</h3>
    <hr />
    <h4>@Resources.lang.WhoWeAre</h4>
    <p>
        @Resources.lang.CompanyBackgroundD
    </p>
    <p>
        @Resources.lang.AboutUsD
    </p>
    <p>
        Obisoft乐意接受东北大学软件学院14、15级成员参与Obisoft企业社会实践。开放的实践课题包括Obisoft企业创新情况考察和企业文化建设情况考察。
    </p>
    <p>
        在这里填写你的报名表，并留下你的联系方式，以参与Obisoft公司理论之光社会实践。Obisoft公司将为你或你的团队安排时间组织企业考察、交流会议等，你将在完成考察后书写你的社会实践报告，同时Obisoft公司将会提供公章。
    </p>
    <p>
        <b>根据理论之光文件要求，企业实习是无效的。Obisoft不允许任何社会实践参与者进行Obisoft工作实习。如果有意愿加入Obisoft公司，请浏览并填写开放的招聘工作列表。</b>
    </p>
    <div class="col-md-12 text-center">
        <a class="btn btn-main featured text-center" href="@Url.Action("AllJobs","Home")">@Resources.lang.JobOpenings</a>
    </div>
    <h4>Obisoft理论之光 - 团队接收报名表</h4>
    <hr />
    <div class="row">
        <form class="contact_full" method="post" action="@Url.Action("Light","Home")">
            @Html.AntiForgeryToken()
            <div class="col-md-6 left">
                <div class="left_contact">
                    <div class="form-level">
                        <input name="YourName" placeholder="你的姓名" id="YourName" value="@Model.YourName" type="text" class="input-block" data-val-required="必须输入你的姓名" data-val="true" />
                        <span class="form-icon fa fa-user"></span>
                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="YourName"></span>

                    <div class="form-level right">
                        <textarea name="TeamMembers" placeholder="你的团队成员姓名" id="TeamMembers" rows="5" class="textarea-block" data-val-required="必须输入团队成员姓名" data-val="true">@Model.TeamMembers</textarea>
                        <span class="form-icon fa fa-users"></span>
                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="TeamMembers"></span>

                    <div class="form-level">
                        <input name="Phone" placeholder="你的手机号码" id="Phone" value="@Model.Phone" type="number" class="input-block"  data-val-required="必须输入手机号码" data-val="true"/>
                        <span class="form-icon fa fa-phone"></span>
                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Phone"></span>

                    <div class="form-level">
                        <input name="Email" placeholder="你的邮箱地址" id="Email" value="@Model.Email" type="email" class="input-block" data-val-email="@Resources.lang.InvalidEmailAddress" data-val-required="必须输入邮箱地址" data-val="true"/>
                        <span class="form-icon fa fa-envelope"></span>
                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Email"></span>

                    <div class="form-level">
                        <input name="Class" placeholder="你的班级" id="Class" value="@Model.Class" type="text" class="input-block" data-val-required="必须输入班级" data-val="true"/>
                        <span class="form-icon fa fa-bank"></span>
                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Class"></span>
                </div>
            </div>
            <div class="col-md-6 right">
                <div class="form-level">
                    <textarea name="Messages" id="Messages" rows="13" class="textarea-block" placeholder="你的团队期待在Obisoft参与哪些活动? 你的团队什么时候有时间?">@Model.Messages</textarea>
                    <span class="form-icon fa fa-pencil"></span>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-main featured">申请Obisoft企业实践调研</button>
            </div>
        </form>
    </div>
    <div>
        @Html.ActionLink("返回Obisoft生涯中心", "Careers")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}