@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - Obisoft</title>
    <link rel="stylesheet" href="~/wwwroot/css/font-awesome.min.css" />
    @Styles.Render("~/css")
    @RenderSection("css", false)
</head>
<body>
    <header class="navbar-fixed-top navbar-inverse video-menu" id="header" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Togglenavigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img src="~/wwwroot/images/logo3.png" class="img-responsive" />
                </a>
            </div>
            <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" role="navigation">
                <ul class="nav navbar-nav navbar-left ">
                    <li class="@RenderSection("IndexClass",false)"><a href="@Url.Action("Index","Home")">@Resources.lang.Home</a></li>
                    <li class="@RenderSection("PortfolioClass",false)"><a href="@Url.Action("Index","Home")">@Resources.lang.Portfolio</a></li>
                     <li class="@RenderSection("CareersClass",false)"><a href="@Url.Action("Careers","Home")">@Resources.lang.Careers</a></li>
                    <li class="@RenderSection("AboutClass",false)"><a href="@Url.Action("About","Home")">@Resources.lang.AboutUs</a></li>
                    <li class="@RenderSection("ContactClass",false)"><a href="@Url.Action("Contact","Home")">@Resources.lang.Contact</a></li>
                </ul>
                <form action="@Url.Action("LogOff","Account")" method="post" id="logoutForm" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">@Resources.lang.Lang<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">@Resources.lang.Lang</li>
                                <li @if (ViewContext.RouteData.Values["lang"].ToString().ToLower()=="zh-cn")
                                {
                                    @:class="active" 
                                    }><a  href="@Url.RouteUrl(ViewContext.RouteData.Values.ChangeAndReturn("lang","zh-CN"))">简体中文</a></li>
                                <li @if (ViewContext.RouteData.Values["lang"].ToString().ToLower()=="en-us")
                                {
                                    @:class="active" 
                                    }><a href="@Url.RouteUrl(ViewContext.RouteData.Values.ChangeAndReturn("lang","en-US"))">English</a></li>
                            </ul>
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            @Html.AntiForgeryToken()
                            <li class="@RenderSection("ManageClass",false)"><a href="@Url.Action("Index","Manage")">@Resources.lang.Hello, @User.Identity.GetUserName().Split('@')[0]!</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.lang.Logout</a></li>
                        }
                        else
                        {
                            <li class="@RenderSection("RegisterClass",false)"><a href="@Url.Action("Register","Account")" id="registerLink">@Resources.lang.Register</a></li>
                            <li class="@RenderSection("LoginClass",false)"><a href="@Url.Action("Login","Account")" id="loginLink">@Resources.lang.Login</a></li>
                        }
                    </ul>
                </form>
            </nav>
        </div>
    </header>
    @RenderBody()
    @Html.Partial("_Footer")
    <div id="back-top">
        <a href="#slider_part" class="scroll" data-scroll>
            <div class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-up"></i></div>
        </a>
    </div>
    @Scripts.Render("~/js")
    @RenderSection("scripts", false)
</body>
</html>
